<a href="https://colab.research.google.com/github/shrad1997/Neural-Network/blob/main/NN_forest_area.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the necessary packages
import pandas as pd
import numpy as np
import keras
from sklearn.preprocessing import StandardScaler

In [2]:
dataset=pd.read_csv("/content/forestfires (1).csv")

In [3]:
dataset.head(5)

  month  day  FFMC   DMC  ...  monthnov  monthoct  monthsep  size_category
0   mar  fri  86.2  26.2  ...         0         0         0          small
1   oct  tue  90.6  35.4  ...         0         1         0          small
2   oct  sat  90.6  43.7  ...         0         1         0          small
3   mar  fri  91.7  33.3  ...         0         0         0          small
4   mar  sun  89.3  51.3  ...         0         0         0          small

[5 rows x 31 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [5]:
dataset['size_category']=le.fit_transform(dataset['size_category'])

In [6]:
dataset.head(5)

  month  day  FFMC   DMC  ...  monthnov  monthoct  monthsep  size_category
0   mar  fri  86.2  26.2  ...         0         0         0              1
1   oct  tue  90.6  35.4  ...         0         1         0              1
2   oct  sat  90.6  43.7  ...         0         1         0              1
3   mar  fri  91.7  33.3  ...         0         0         0              1
4   mar  sun  89.3  51.3  ...         0         0         0              1

[5 rows x 31 columns]

In [7]:
dataset.drop(columns=['month','day'],axis=1,inplace=True)

In [8]:
dataset.head(5)

   FFMC   DMC     DC  ISI  ...  monthnov  monthoct  monthsep  size_category
0  86.2  26.2   94.3  5.1  ...         0         0         0              1
1  90.6  35.4  669.1  6.7  ...         0         1         0              1
2  90.6  43.7  686.9  6.7  ...         0         1         0              1
3  91.7  33.3   77.5  9.0  ...         0         0         0              1
4  89.3  51.3  102.2  9.6  ...         0         0         0              1

[5 rows x 29 columns]

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FFMC           517 non-null    float64
 1   DMC            517 non-null    float64
 2   DC             517 non-null    float64
 3   ISI            517 non-null    float64
 4   temp           517 non-null    float64
 5   RH             517 non-null    int64
 6   wind           517 non-null    float64
 7   rain           517 non-null    float64
 8   area           517 non-null    float64
 9   dayfri         517 non-null    int64
 10  daymon         517 non-null    int64
 11  daysat         517 non-null    int64
 12  daysun         517 non-null    int64
 13  daythu         517 non-null    int64
 14  daytue         517 non-null    int64
 15  daywed         517 non-null    int64
 16  monthapr       517 non-null    int64
 17  monthaug       517 non-null    int64
 18  monthdec       517 non-null    int64
 19  monthfeb       517 non-null    int64
 20  monthjan       517 non-null    int64
 21  monthjul       517 non-null    int64
 22  monthjun       517 non-null    int64
 23  monthmar       517 non-null    int64
 24  monthmay       517 non-null    int64
 25  monthnov       517 non-null    int64
 26  monthoct       517 non-null    int64
 27  monthsep       517 non-null    int64
 28  size_category  517 non-null    int64
dtypes: float64(8), int64(21)
memory usage: 117.3 KB

In [10]:
X = dataset.iloc[:,0:28]
Y = dataset.iloc[:,2]

In [11]:
# Standardization
a = StandardScaler()
a.fit(X)
X_standard = a.transform(X)

In [12]:
X_standard

array([[-8.05959472e-01, -1.32332557e+00, -1.83047676e+00, ...,
        -4.40225453e-02, -1.72859706e-01, -7.06081245e-01],
       [-8.10203395e-03, -1.17954077e+00,  4.88890915e-01, ...,
        -4.40225453e-02,  5.78503817e+00, -7.06081245e-01],
       [-8.10203395e-03, -1.04982188e+00,  5.60715454e-01, ...,
        -4.40225453e-02,  5.78503817e+00, -7.06081245e-01],
       ...,
       [-1.64008316e+00, -8.46647711e-01,  4.74768113e-01, ...,
        -4.40225453e-02, -1.72859706e-01, -7.06081245e-01],
       [ 6.80956663e-01,  5.49002541e-01,  2.69382214e-01, ...,
        -4.40225453e-02, -1.72859706e-01, -7.06081245e-01],
       [-2.02087875e+00, -1.68591332e+00, -1.78044169e+00, ...,
         2.27156334e+01, -1.72859706e-01, -7.06081245e-01]])

In [13]:
X_new=pd.DataFrame(X_standard)

In [14]:
X_new.describe()

                 0             1   ...            26            27
count  5.170000e+02  5.170000e+02  ...  5.170000e+02  5.170000e+02
mean  -1.754024e-15  3.070830e-16  ...  6.253326e-16  4.024290e-16
std    1.000969e+00  1.000969e+00  ...  1.000969e+00  1.000969e+00
min   -1.304582e+01 -1.715608e+00  ... -1.728597e-01 -7.060812e-01
25%   -8.063453e-02 -6.606652e-01  ... -1.728597e-01 -7.060812e-01
50%    1.732292e-01 -4.020255e-02  ... -1.728597e-01 -7.060812e-01
75%    4.089598e-01  4.927389e-01  ... -1.728597e-01  1.416268e+00
max    1.007353e+00  2.819865e+00  ...  5.785038e+00  1.416268e+00

[8 rows x 28 columns]

Tuning of Hyperparameters :- Batch Size and Epochs

In [15]:
!pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.7/dist-packages (2.7.0)

In [16]:
# Create your first MLP in Keras
from keras.models import Sequential
from keras.layers import Dense
import numpy

In [17]:
# create model
model = Sequential()
model.add(Dense(12, input_dim=8, kernel_initializer='random_uniform', activation='relu'))
model.add(Dense(8, kernel_initializer='random_uniform', activation='relu'))
model.add(Dense(1, kernel_initializer='random_uniform', activation='sigmoid'))

In [18]:
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [19]:
# Fit the model
model.fit(X, Y, validation_split=0.33,epochs=150, batch_size=10)

Epoch 1/150

ValueError: ignored

In [ ]:
# evaluate the model
scores = model.evaluate(X, Y)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

In [ ]:
# Visualize training history

# list all data in history
model.history.history.keys()

In [ ]:
# summarize history for accuracy
plt.plot(model.history.history['accuracy'])
plt.plot(model.history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()
# summarize history for loss
plt.plot(model.history.history['loss'])
plt.plot(model.history.history['val_loss'])
plt.title('model loss') 
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()